<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div id="card" class="card-body text-center">
                    <img class="card-img-top" [src]="serie.image" alt="Card image cap"><br>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{serie.name}}</h5><br><br>
                        <p class="element-animation mx-auto">🎞️</p>
                        <a [routerLink]="detailsUrl" class="btn btn-danger mt-4">📝 Voir les détails de la série</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex container justify-content-end px-0 mb-2" style="width: 50%;">
        <button *ngIf="!isHidden" class="btn btn-outline-danger" (click)="sortByDate()">{{sortMessage}}</button>
    </div>
    <div class="list-group mx-auto" style="width: 50%;">
        <app-comments (isHiddenEmit)=showButton($event) *ngFor="let comment of comments" [id]="comment.id"
            [date]="comment.date" [author]="comment.author" [content]="comment.content" [idSerie]="serie.id">
        </app-comments>
    </div>
    <app-back-to-series></app-back-to-series>