#card {
    box-shadow: 0px 0px 50px 2px rgba(0,0,0,0.5);
}

h5::after {
    display: block;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 313PX;
    height: 7px;
    background: linear-gradient(114deg, rgba(220,53,69,1) 0%, rgba(0,0,0,1) 100%);
    content: " ";
    position: relative;
    top: 24px;
    right: -25px;
}


.element-animation {
    margin: 0;
    width: 50px;
    height: 50px;
    font-size: 35px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
  }
  
  @keyframes example {
    0%   {left: -25px; top:0px; transform: rotate(-35deg);}
    50%  {left:0px; top: -10px;}
    100%  {left:25px; top:0px; transform: rotate(35deg);}
  }

  