<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div id="card" class="card-body text-center">
                    <img class="card-img-top" [src]="serie.image" alt="Card image cap"><br>
                    <div class="card-body">
                        <h5 class="card-title text-center">{{serie.name}}</h5><br><br>
                        <p class="card-text text-left">Première diffusion:
                            {{serie.firstSeasonReleaseDate | date: 'dd/MM/yyy'}}<br><br>
                            Nombre de saisons: {{serie.numberOfSeasons}}<br><br>
                            Description: {{serie.description}}<br><br>
                            Critique: {{serie.critique}}<br><br></p>
                        <a class="text-white" [routerLink]="commentsUrl"><button [disabled]="commentsDisabled"
                                class="btn btn-danger">👁️ Voir
                                les commentaires</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-back-to-series></app-back-to-series>