<div id="header" class="container d-flex align-items-center justify-content-between mb-3 pl-0">
    <img src="/assets/images/netflix_background.jpg">
    <h1 class="text-danger align-middle mr-5 d-flex">
        <div class="rotate-vert-center">🎥 </div>
        <div class="rotate-vert-center">🎞️</div> Netflix | Pré-alpha
        <div class="rotate-vert-center">📽️ </div>
        <div class="rotate-vert-center">🎬</div>
    </h1>
    <button id="disconnectButton" type="button" class="btn btn-danger ml-5" (click)="onSignOut()"><svg
            class="bi bi-power" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.578 4.437a5 5 0 1 0 4.922.044l.5-.866a6 6 0 1 1-5.908-.053l.486.875z" />
            <path fill-rule="evenodd" d="M7.5 8V1h1v7h-1z" />
        </svg>Déconnexion</button>
</div>