#header {
    background-color: black;
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
#disconnectButton {
    position: relative;
    bottom: 65px;
}
svg {
    position: relative;
    bottom: 2px;
    right: 4px;
}

.rotate-vert-center{
    width: 55px;
    height: 55px;
    animation:rotate-vert-center 2s cubic-bezier(.455,.03,.515,.955) 2 both;
}
@keyframes rotate-vert-center{
    0% {transform:rotateY(0);}
    100% {transform:rotateY(360deg);}
}