<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div id="card" class="card-body text-center">
          <img class="card-img" style="width: 200px; height: 200px;" src="/assets/images/netflix.png" mb-4>

          <h5 class="card-title text-center">Connexion</h5>

          <div *ngIf="errorMsg" class="text-center text-danger m-1">{{errorMsg}}</div>

          <form class="form-signin" [formGroup]="authForm" (ngSubmit)="onSignIn()">

            <input type="username" id="inputUsername" class="form-control" placeholder="Identifiant"
              formControlName="username" autofocus>
            <br>
            <input type="password" id="inputPassword" class="form-control" placeholder="Mot de passe"
              formControlName="password">
            <br>
            <button class="btn btn-lg btn-dark btn-block" [disabled]="authForm.invalid" type="submit">
              Me connecter
            </button>
            <button class="btn btn-outline-secondary mt-3" (click)="alertLogin()">Thomas, si jamais tu as oublié les
              identifiants,<br>clique ici!</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>