<app-header></app-header>
<h2 class="mt-4 mb-5 text-center">Modification d'une série</h2>
<div class="container text-center" style="width: 50%">

  <form [formGroup]="editSerieForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="serieName">
        Nom de la série
      </label>
      <input type="text" id="serieName" class="form-control" name="serieName" formControlName="serieName">
    </div>

    <div class="form-group">
      <label for="serieFirstSeasonReleaseDate">
        Date de la première diffusion
      </label>
      <input type="date" id="serieFirstSeasonReleaseDate" class="form-control" name="serieFirstSeasonReleaseDate"
        formControlName="serieFirstSeasonReleaseDate">
    </div>

    <div class="form-group">
      <label for="serieNumberOfSeasons">
        Nombre de saisons
      </label>
      <input type="number" id="serieNumberOfSeasons" class="form-control" name="serieNumberOfSeasons"
        formControlName="serieNumberOfSeasons">
    </div>

    <div class="form-group">
      <label for="serieDescription">
        Description (500 caractères maximum) - {{leftCharDescription}} caractère{{sCharDescription}}
        restant{{sCharDescription}}
      </label>
      <textarea id="serieDescription" class="form-control" (keyup)="keyUpDescription($event)" name="serieDescription"
        formControlName="serieDescription" maxlength="500"></textarea>
    </div>

    <div class="form-group">
      <label for="serieCritique">
        Critique (500 caractères maximum) - {{leftCharCritique}} caractère{{sCharCritique}} restant{{sCharCritique}}
      </label>
      <textarea id="serieCritique" class="form-control" (keyup)="keyUpCritique($event)" name="serieCritique"
        formControlName="serieCritique" maxlength="500"></textarea>
    </div>

    <div class="form-group">
      <label for="serieImage">
        URL du Gif - Au format .gif<br><a href="https://giphy.com/" class="btn btn-outline-dark mt-1"
          target="_blank"><svg id="link" class="bi bi-link-45deg" width="1em" height="1em" viewBox="0 0 16 16"
            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4.715 6.542L3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.001 1.001 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z" />
            <path
              d="M5.712 6.96l.167-.167a1.99 1.99 0 0 1 .896-.518 1.99 1.99 0 0 1 .518-.896l.167-.167A3.004 3.004 0 0 0 6 5.499c-.22.46-.316.963-.288 1.46z" />
            <path
              d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 0 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 0 0-4.243-4.243L6.586 4.672z" />
            <path
              d="M10 9.5a2.99 2.99 0 0 0 .288-1.46l-.167.167a1.99 1.99 0 0 1-.896.518 1.99 1.99 0 0 1-.518.896l-.167.167A3.004 3.004 0 0 0 10 9.501z" />
          </svg>Trouve un gif ici</a>
      </label>
      <input type="text" id="serieImage" class="form-control" name="serieImage"
        pattern="^https?:\/\/(?:[a-z0-9\-]+\.)+[a-z]{2,6}(?:\/[^\/#?]+)+\.(?:gif)$"
        formControlName="serieImage">
    </div>

    <button class="btn btn-dark" type="submit" [disabled]="editSerieForm.invalid">Modifier<svg id="check"
        class="bi bi-check-circle" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path fill-rule="evenodd"
          d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
      </svg></button>

    <br>
  </form>

</div>
<app-back-to-series></app-back-to-series>