<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto d-flex justify-content-center mt-5">
      <div class="error-template text-center">
        <img src="https://media.giphy.com/media/3yJNOJ2NQmu4w/giphy.gif">
        <h1>
          Oups!</h1>
        <h2>
          404 Page Introuvable</h2>
        <div class="error-details">
          Oups, une erreur est survenue, la page demandée n'a pas été trouvée !
        </div>
        <div class="error-actions mt-3">
          <a routerLink="/" class="btn btn-dark btn-lg"><svg class="bi bi-arrow-left-circle" width="1.5em"
              height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path fill-rule="evenodd"
                d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z" />
              <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z" />
            </svg>
            Page d'accueil
          </a>
        </div>
      </div>
    </div>
  </div>
</div>