<th scope="row" style="width: 5%;">{{id}}</th>
<td style="width: 20%;">{{name}}</td>
<td style="width: 15%;">{{date | date: 'dd/MM/yyyy'}}</td>
<td style="width: 50%;">
        <a class="text-white" [routerLink]="detailsUrl"><button class="btn btn-dark mr-2">📝 Détails</button></a>
        <a class="text-white" [routerLink]="editUrl"><button class="btn btn-dark mr-2">✏️ Modifier</button></a>
        <a class="text-white" [routerLink]="commentsUrl"><button [disabled]="commentsDisabled"
                        class="btn btn-dark mr-2">👁️ Voir
                        les commentaires</button></a>
        <button class="btn btn-danger mr-2" (click)="deleteSerie()">⛔ Supprimer</button>
</td>