<table class="table">
  <thead>
    <tr>
      <th scope="col">#🆔</th>
      <th scope="col">🎥 Nom</th>
      <th scope="col">📅 Date de sortie</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr app-row *ngFor="let serie of series" [id]="serie.id" [name]="serie.name" [date]="serie.firstSeasonReleaseDate">
    </tr>
  </tbody>
</table>